/*------------------------------------------------------------------------

# JA Sanidine II for Joomla 1.5 - Version 1.0 - Licence Owner JA106916

# ------------------------------------------------------------------------

# Copyright (C) 2004-2008 J.O.O.M Solutions Co., Ltd. All Rights Reserved.

# @license - Copyrighted Commercial Software

# Author: J.O.O.M Solutions Co., Ltd

# Websites:  http://www.joomlart.com -  http://www.joomlancers.com

# This file may not be redistributed in whole or significant part.

-------------------------------------------------------------------------*/



/* COMMON STYLE

--------------------------------------------------------- */

html, body, form, fieldset {

	margin: 0;

	padding: 0;

}



body {



	color: #333333;

	font-family: "Arial", Arial, Helvetica, sans-serif;

	line-height: 1.5;

}



body#bd {

	background:#f0f1f3;

	color:#333333;

}



body.contentpane {

	color: #333333;

	font-size: 12px;

	line-height: 1.3em;

	margin: 0;

	margin: 1em 2em;

	width: auto; /* Printable Page */

}



body.fs1 {font-size: 10px;}

body.fs2 {font-size: 11px;}

body.fs3 {font-size: 12px;}

body.fs4 {font-size: 13px;}

body.fs5 {font-size: 14px;}

body.fs6 {font-size: 15px;}



/* Normal link */

a {

	color: #000;

	text-decoration: none;

}



a:hover, a:active, a:focus {

	color: #3D393A;

	text-decoration: underline;

}



a img {

	border: 0px solid #E4E4E4;

}



/* Title text */

.contentheading, .componentheading, .blog_more strong, h1, h2, h3, h4 {

	line-height: normal;

}



/* Small text */

small, .small, .smalldark, .article-meta, .modifydate, .img_caption p, .site-slogan, #ja-login,

a.readon, #ja-botnav, #ja-pathway, #ja-subnav, #ja-contentsl1, #ja-contentsl2, #ja-footer, #ja-col1, #ja-col2, #ja-botsl {

	font-size: 92%;

}



.article-content img {

border:1px solid #D5D5D5;

margin-left:5px;

margin-right:5px;

margin-top:3px;

padding:3px;

}



img {

	margin: 0;

	padding: 0;

}



.img_caption img {

	border: 1px solid #CCCCCC;

}



.img_caption p {

	text-align: center;

	color: #666666;

}



.img_caption.left, .img_caption.right {

	margin-top: 3px;

}



.no-caption {

	margin: 3px 0 3px 5px;

	border: 1px solid #CCCCCC;

}



/* Heading */

h1 {font-size: 200%;}

h2 {font-size: 300%;}

h3 {font-size: 150%;}

h4 {font-size: 100%;}



p, pre, blockquote, ul, ol, h1, h2, h3, h4, h5, h6 {

	margin: 0 0px;

	padding: 0;

}



ul {

	list-style: none;

}



ul li {

	background: url(../images/bullet.gif) no-repeat 20px 6px;

	padding-left: 30px;

        margin:0px;

}



ol li {

	margin-left:15px;

	list-style:none;

}



th {

	font-weight: bold;

	padding: 7px 8px;

	text-align: left;

}



fieldset {

	padding: 7px 5px 5px !important;

	border: none;

	margin: 1em 0 0;

	background: url(../images/sep.gif) repeat-x top;

}



fieldset legend {

	font-weight: bold;

	background: #FFFFFF;

}



fieldset a {

	font-weight: bold;

}



fieldset.input {

	padding: 0;

	background: none;

}



hr {

	border-bottom: 0;

	border-left: 0;

	border-right: 0;

	border-top: 1px solid #8d8d8d;

	height: 1px;

}







td, th, div {

	font-size: 100%;

}

/* JA SLIDESHOW2

----------------------------------------------------------- */

.ja-slidewrap { border: 0; overflow: hidden; }



.ja-slide-buttons {

	position:absolute;

	right: 20px;

	bottom: 20px;

}



.ja-slide-buttons .ja-slide-stop {

	text-indent: -1000em;

	background: url(../images/icon-stop.gif) center center no-repeat;

	height: 20px;

	width: 20px;

}



.ja-slide-buttons .ja-slide-next {

	text-indent: -1000em;

	background: url(../images/icon-next.gif) center center no-repeat;

	height: 20px;

	width: 20px;

}



.ja-slide-buttons .ja-slide-prev{

	text-indent: -1000em;

	background: url(../images/icon-prev.gif) center center no-repeat;

	height: 20px;

	width: 20px;

}



.ja-slide-buttons .ja-slide-playback{

	text-indent: -1000em;

	background: url(../images/icon-playback.gif) center center no-repeat;

	height: 20px;

	width: 20px;

}



.ja-slide-buttons .ja-slide-play{

	text-indent: -1000em;

	background: url(../images/icon-play.gif) center center no-repeat;

	height: 20px;

	width: 20px;

}



.ja-slide-buttons {

	background: url(../images/button-bg2.png) left center no-repeat;

	padding: 5px;

}



.ja-slide-buttons span { padding: 2px 0; }



/* FORM

--------------------------------------------------------- */

form {

	margin: 0;

	padding: 0;

}



form label {



}



input, select, textarea, .inputbox {

	font-family: "Arial", Arial, Helvetica, sans-serif;

	font-size: 100%;

}



textarea, textarea.inputbox {

	background: #FFFFFF;

	color: #999999;

	border: 1px solid #CCCCCC;

}



.inputbox {

	padding: 0 0 3px 7px;

	margin:0 0px;

	border: 1px solid #CCCCCC;

	-moz-border-radius: 2px 2px 2px 2px;

	background: none;

	color: #999999;

	font-size: 100%;

}



.button {

	padding: 3px 8px 3px;

	border: 0px solid #9EB1A2;

	-moz-border-radius: 5px 5px 5px 5px;

	background: none;

	color: #999999;

	text-transform: none;

	font-size: 98%;

	font-weight: bold;

	cursor:pointer;

}



.button:hover {

	border: 0px solid #E24500;

	-moz-border-radius: 3px 3px 3px 3px;

}



select#ordering, select#limit {

	background-image: none;

}



* html .button { /*IE 6*/

	padding: 2px 5px !important;

}



*+html .button { /*IE 7*/

	padding: 2px 5px !important;

}



/* JOOMLA STYLE

--------------------------------------------------------- */

.article_separator, .article_seperator {

	clear: both;

	display: block;

	height: 30px;

	margin: 0;

	background: url(../images/sep.gif) repeat-x center;

}



.column_separator {

	padding: 0 0px;

}



/* content tables */

.sectiontableheader {

	background: url(../images/grad-2.gif) repeat-x top #373737;

	border: 1px solid #DDDDDD;

	padding: 6px 8px;

	color: #FFFFFF;

	font-weight: bold;

}



.sectiontableheader a,

.sectiontableheader a:hover,

.sectiontableheader a:active,

.sectiontableheader a:focus {

	color: #FFFFFF;

}



tr.sectiontableentry0 td,

tr.sectiontableentry1 td,

tr.sectiontableentry2 td {

	padding: 8px;

	background: url(../images/sep.gif) repeat-x bottom;

}



table.contentpane {

	border: none;

	width: 100%;

}



table.contentpaneopen {

	border: none;

	border-collapse: collapse;

	border-spacing: 0;

}



table.contenttoc {

	margin: 0 0 10px 10px;

	padding: 0;

	width: 30%;

	float: right;

}



table.contenttoc td {

	background: url(../images/bullet.gif) no-repeat 12px 8px;

	padding: 1px 5px 1px 20px;

}



table.contenttoc th {

	background: url(../images/sep.gif) repeat-x bottom;

	padding: 0 0 3px;

	text-indent: 5px;

}



table.poll {

	border-collapse: collapse;

	padding: 0;

	width: 100%;

}



table.pollstableborder {

	border: none;

	padding: 0;

	text-align: left;

	width: 100%;

}



table.pollstableborder img {

	vertical-align: baseline;

}



table.pollstableborder td {

	border-collapse: collapse;

	border-spacing: 0;

	padding: 4px !important;

	background: none;

}



table.pollstableborder tr.sectiontableentry1 td {

}



table.searchintro {

	padding: 10px 0;

	width: 100%;

}



table.searchintro td {

	padding: 5px!important;

}



.blog_more {

	margin: 15px 0 0;

	padding: 15px 0 0;

	background: url(../images/sep.gif) repeat-x top;

}



.blog_more strong {

	display: block;

	margin: 0 0 5px;

	text-transform: uppercase;

}



.blog_more ul {

	margin: 0;

	padding: 0;

}



.blog_more ul li {

	background: url(../images/bullet.gif) no-repeat 4px 8px;

	margin: 0;

	padding: 0 0 0 12px;

}



.category {

	font-weight: bold;

}



h1.componentheading, .componentheading {

	font-size: 130%;

	margin: 0 0 10px;

	padding: 0;

	color: #3D393A;

}



.contentdescription {

	padding-bottom: 30px;

}



h2.contentheading, .contentheading {

	margin: 0 0 5px 10px;

	padding: 0;

	font-size: 150%;

	color: #333333;

}



table.blog .contentheading {

	font-size: 110%;

	padding:0 0 5px 0;

}



a.contentpagetitle,

a.contentpagetitle:hover,

a.contentpagetitle:active,

a.contentpagetitle:focus {

	color: #0A47B0;

}



a.readon {

	font-weight: bold;

	color:#FF0000;

}



a.readon:hover, a.readon:focus, a.readon:active {

}



table.contentpaneopen td, table.contentpane td {

}



table.contentpaneopen, table.contentpane, table.blog {

	width: 100%;

}



.moduletable {

	padding: 0;

}



ul.pagination {

	margin: 20px auto;

	padding: 20px 0 0;

	color: #666666;

}



ul.pagination li {

	background: none;

	display: inline;

	margin: 0;

	padding: 0;

}



ul.pagination li span {

	padding: 2px 5px;

}



ul.pagination a {

	padding: 2px 5px;

	text-decoration: none;

	background: url(../images/grad-4.gif) repeat-x top;

	color: #666666;

	border: 1px solid #DDDDDD;

}



ul.pagination a:hover, ul.pagination a:active, ul.pagination a:focus {

	background: #333333;

	color: #FFFFFF;

}



.pagenavbar {

	background: url(../images/icon-pages.gif) no-repeat center left;

	font-weight: bold;

	padding-left: 14px;

}



.pagenavcounter {

	background: url(../images/icon-pages.gif) no-repeat 0 11px;

	font-weight: bold;

	padding: 8px 14px 0 14px;

}



.smalldark {

	text-align: left;

}



div.syndicate div {

	text-align: center;

}



.pollstableborder tr.sectiontableentry1 td,

.pollstableborder tr.sectiontableentry2 td {

	background: none;

}



ul.latestnews a, ul.mostread a {

}



/* META

--------------------------------------------------------- */

.article-toolswrap {

	display: block;

	margin: 0 0 10px;

	padding: 0;

	position: relative;

}



.article-tools {

	display: block;

	padding: 0 10px 0 0;

}



.article-meta {

	width: 70%;

	float: left;

	margin-top: 3px;

	color: #666666;

}



.createby {

	font-weight: bold;

}



.createdate {

	padding-right: 6px;

	margin-right: 5px;

	background: url(../images/vline.gif) no-repeat right;

}



.createdate-icon { /*for clendar style*/

	margin: 0 10px 0 0;

	display: block;

	float: left;

	width: 40px;

	height: 38px;

	text-align: center;

	border: 1px solid #CCCCCC;

	background: #F8F8F8;

	color: #666666;

}



.ja-date {

	font-size: 15px;

	font-weight: bold;

}



.ja-month {

	color: #666666;

	font: 9px/14px Arial, Helvetica , sans-serif;

	text-transform: uppercase;

	display: block;

	letter-spacing: 1px;

	background: url(../images/grad-4.gif) repeat-x top #999999;

	border-bottom: 1px solid #CCCCCC;

}



.modifydate {

	width: 100%;

	display: block;

	color: #333333;

	margin: 15px 0;

}



.article-section {

	padding-left: 6px;

	margin-left: 5px;

	background: url(../images/vline.gif) no-repeat left center;

}



.article-section a {

	color: #666666;

}



.article-category a {

	color: #666666;

}



div.buttonheading {

	position: absolute;

	top: 0;

	right: 10px;

}



.buttonheading img {

	margin: 0 0 0 5px;

	border: 0;

	float: right;

}



/* MAIN LAYOUT DIVS

--------------------------------------------------------- */

#ja-wrapper {

	width: 950px;

	margin: 0 auto;

	clear: both;

	background: none;

	box-shadow:0 0 8px #666666;

}



.narrow #ja-wrapper {

	width: 750px;

	background: url(../images/wrapper-bg-n.png) repeat-y center;

}



#ja-container {

    padding: 0px;

	background: url("../images/bg_intro.jpg") repeat-x scroll center top #fff;

}



#ja-mainbody {

	width: 50%;

	float: left;

}



/* PRIMARY COLUMN

--------------------------------------------------------- */

#ja-content {

	clear: both;

	display: block;

	float: right;

	width: 69.5%;

	background: none;

	border:0px solid #3D444C;

}



#ja-content-top {

	background: none;

}



#ja-content-bot {

	background: none;

}



.narrow #ja-content {

	background: none;

}



.narrow #ja-content-top {

	background: none;

}



.narrow #ja-content-bot {

	background: none;

}



#ja-current-content {

	padding: 0;

	margin: 0;

}



/* COLUMNS

--------------------------------------------------------- */

#ja-col1 {

	float: left;

	overflow: hidden;

	width: 29.5%;

}



#ja-col1 div.ja-innerpad {

	padding-right: 5px;

}



#ja-col2 {

	float: right;

	overflow: hidden;

	width: 49.5%;

	color:#000;

	text-align:justify;

	line-height:20px;

}



#ja-col2 div.ja-innerpad {

	padding: 5px;

}



/*common style for column*/





/* COLLAPSIBLE LAYOUT

--------------------------------------------------------- */

#ja-containerwrap,

#ja-containerwrap-fr,

#ja-containerwrap-fl,

#ja-containerwrap-f {

	clear: both;

	background: none;

	border-left: 0px solid #4B4F4F;

	-moz-border-radius:0px 0px 0px 0px;

	border-right: 0px solid #4B4F4F;

	margin:0px 0;

}



/*content + left*/

#ja-containerwrap-fr #ja-mainbody {

	width: 100%;

}



#ja-containerwrap-fr #ja-col1 {

	width: 22%;

}



#ja-containerwrap-fr #ja-content {

	width: 78%;

	background: none;

}



#ja-containerwrap-fr #ja-content-top {

	background: none;

}



#ja-containerwrap-fr #ja-content-bot {

	background: url("../images/content-bot.gif") no-repeat scroll center bottom transparent;

}



.narrow #ja-containerwrap-fr #ja-content {

	background: url(../images/content-center2-n.gif) repeat-y center #FFFFFF;

}



.narrow #ja-containerwrap-fr #ja-content-top {

	background: url(../images/content-top2-n.gif) no-repeat center top;

}



.narrow #ja-containerwrap-fr #ja-content-bot {

	background: url(../images/content-bot2-n.gif) no-repeat center bottom;

}



/*content + right*/

#ja-containerwrap-fl #ja-content {

	width: 100%;

	background: none;

	border:0px solid #888888;

}



#ja-containerwrap-fl #ja-content-top {

    -moz-border-radius: 0px;

    background: none;

}



#ja-containerwrap-fl #ja-content-bot {

    background: none repeat scroll 0 0 #fafafa;

    border: 1px solid #BDBDBD;

    margin: 0px;

}



.narrow #ja-containerwrap-fl #ja-content {

	background: url(../images/content-center-n.gif) repeat-y center;

}



.narrow #ja-containerwrap-fl #ja-content-top {

	background: url(../images/content-top-n.gif) no-repeat center top;

}



.narrow #ja-containerwrap-fl #ja-content-bot {

	background: url(../images/content-bot-n.gif) no-repeat center bottom;

}



/*full*/

#ja-containerwrap-f #ja-mainbody {

	width: 100%;

}



#ja-containerwrap-f #ja-content {

	width: 100%;

	background: none;

}



#ja-containerwrap-f #ja-content-top {

	background: none;

}



#ja-containerwrap-f #ja-content-bot {

	background: none;

}



#ja-containerwrap-f #ja-current-content {

	padding-left: 20px;

	padding-right: 20px;

}



.narrow #ja-containerwrap-f #ja-content {

	background: url(../images/content-center1-n.gif) repeat-y center;

}



.narrow #ja-containerwrap-f #ja-content-top {

	background: url(../images/content-top1-n.gif) no-repeat center top;

}



.narrow #ja-containerwrap-f #ja-content-bot {

	background: url(../images/content-bot1-n.gif) no-repeat center bottom;

}



/* MODULE

--------------------------------------------------------- */

div.moduletable h2 {

    background: #53719c;

    color: #fff;

    font-size: 100%;

    height: 30px;

    line-height: 30px;

    margin: 0;

    padding: 0 0 0 15px;

    text-transform: uppercase;

}



div.moduletable h2 span {

	display: block;

	height: 28px;

	padding:0 15px;

	background: none;

}



div.moduletable {

	margin: 5px;

	padding: 0 0px;

}

.nsp_art_page ul{margin:0; padding:0;}

.nsp_art_page ul li{float:left; background:none;}



div.module h3,

div.module_text h3,

div.module_menu h3,

div.module_hilite h3,

div.ja-box-br h3 {

    background: #e3e3e3;

    color: #000;

    font-size: 110%;

    height: 35px;

    line-height: 35px;

    margin: 0 5px 12px;

    padding: 0 0 0 5px;

    text-transform: uppercase;

	border-bottom:1px solid;

}



div.module h3 span,

div.module_text h3 span,

div.module_menu h3 span,

div.module_hilite h3 span,

div.ja-box-br h3 span {

	display: block;

	height: 28px;

	background: none;

	text-align:center;

}



div.module,

div.module_text,

div.module_menu,

div.module_hilite,

div.ja-box-br {

    background:#666666;

    border-radius: 5px;

    clear: both;

    color: #000;

    float: left;

    margin: 5px -5px 5px 0;

    overflow: hidden;

    padding: 0;

    width: 100%;

}



div.module div,

div.module_text div,

div.module_menu div,

div.module_hilite div,

div.ja-box-bl {

	margin: 0;

	padding: 0;

	background: none;

}



div.module div div,

div.module_text div div,

div.module_menu div div,

div.module_hilite div div,

div.ja-box-tr {

	padding: 0;

	margin: 0;

	background: none;

}



div.module div div div,

div.module_text div div div,

div.module_menu div div div,

div.module_hilite div div div,

div.ja-box-tl {

	padding: 8px 10px 10px 10px;

	background: none;

}



div.module div div div div,

div.module_text div div div div,

div.module_menu div div div div,

div.module_hilite div div div div {

	margin: 0;

	padding: 0;

	background: none;

	padding-left:0px;

	line-height:35px;

	font-size:13px;

}



/* mis */

div.banneritem_text {

	padding: 5px 0 !important;

}



div.advs {

	clear: both;

	display: block;

	float: left;

	width: 100%;

	border-top:1px dotted #B4B4B4;

}



div.moduletable li,

div.moduletable_menu li,

div.moduletable_text li,

div.module li,

div.module_menu li,

div.module_text li {

	padding-left: 15px;

	background-position: 5px 7px;

	font-weight: normal;

	float:left;

}





/* HEADER

--------------------------------------------------------- */

#ja-header {

    background: url("../images/header-bg.png") repeat-x scroll 0 0 transparent;

    height: 97px;

    line-height: normal;

    padding: 0;

    position: relative;

    z-index: 999;

}

#ja-headervemaybay {

    background: url("../images/header-bgvemaybay.png") repeat-x scroll 0 0 transparent;

    height: 97px;

    line-height: normal;

    padding: 0;

    position: relative;

    z-index: 999;

}

#vexe24h {

    background: url("../images/bnxe.png") repeat-x scroll 0 0 transparent;

    height: 148px;

    line-height: normal;

    padding: 0;

    position: relative;

    z-index: 999;

}





h1.logo, div.logo-text {

	margin: 0 0px;

	padding: 0;

}



span.logo {

	width: 403px;

	height: 80px;

	position: absolute;

	top: 20px;

	left:20px;

}

span.logohotline {

	width: 400px;

	height: 70px;

	top: 20px;

	left:20px;

	float:right;

	margin-top:20px;

	margin-right:10px;

}

span.logohotline .dienthoai {

    border: medium none;

    float: right;

    padding: 0;

    width: auto;

}

.dienthoai .hotline {

    background: url("../images/VerticalLine.png") no-repeat scroll right center transparent;

    float: left;

    padding: 6px;

}



.uppercase_Blue_small11 {

    color: #10306D;

    font-size: 15px;

    font-weight: bold;

    line-height: 18px;

    text-transform: uppercase;

}

.dienthoai .hotline .blok1 {

    display: block;

    float: left;

    margin-right: 20px;

}



.bold-font-orange14 {

    color: #E8641B;

    font-size: 15px;

    font-weight: bold;

}



.blank5 {

    height: 5px;

}



.dienthoai .hotline .blok2 {

    display: block;

    float: left;

}



span.logo a {

	width: 403px;

	height: 69px;

	display: block;

	text-align:right;

}



span.logo a span {

	top: -1000px;

}



div.logo-text {

	outline: none;

	position: absolute;

	top: 20px;

}



div.logo-text h1 {

	font-size: 250%;

	font-weight: bold;

	letter-spacing: 2px;

	margin: 0;

	padding: 0;

}



div.logo-text h1 a {

	color: #333333;

}



.site-slogan {

	color: #666666;

	margin: 0;

	padding: 0;

}



#ja-topnav {

	position: absolute;

	top: 10px;

	right: 40px;

}



#ja-topnav ul {

	margin: 0;

	padding: 2px 0;

}



#ja-topbar {

	background: none;

	height: 0px;

	margin: 0px 0px;

	position: relative;

}



/* MAIN NAVIGATION

--------------------------------------------------------- */

#ja-mainnav {

    background: none repeat scroll 0 0 transparent;

    top: 14px;

    z-index: 999;

}



#ja-mainnav a, #ja-subnav a {

	outline: none;

	line-height: normal;

}



#ja-subnav {

	clear: both;

	background: url(../images/subnav-bg.gif) repeat-x bottom #333333;

	margin: 0 10px;

	padding: 0 10px;

	height: 30px;

}



#ja-subnav ul {

	list-style: none;

	margin: 0;

	padding: 0;

}



#ja-subnav li {

	background: none;

	margin: 0;

	padding: 0;

	display: inline;

}



#ja-subnav a {

	display: block;

	float: left;

	outline: none;

	padding: 0 15px;

	line-height: 30px;

	text-decoration: none;

	color: #FFFFFF;

}



#ja-subnav a:hover,

#ja-subnav a:active,

#ja-subnav a:focus {

	color: #FFFFFF;

	background: url(../images/subnav-hover.gif) no-repeat center bottom;

	text-decoration: none;

}



#ja-subnav li.active a {

	color: #FFFFFF !important;

	font-weight: bold;

	background: url(../images/subnav-hover.gif) no-repeat center bottom;

	text-decoration: none;

}



/* breadcrumbs */

#ja-pathway {

	

	padding-top: 0px;

	color: #C21317;

	text-indent: 15px;

	font-weight:bold;

}



#ja-pathway strong {

	margin-right: 5px;

}



#ja-pathway img {

	margin: 1px 5px;

}



/* Default Joomla! Menu */

ul.menu {

    background: none;

	-moz-border-radius:5px 5px 5px 5px;

	list-style: none;

	margin: 0;

	padding: 0;

	display: block;

}



ul.menu li {

    display: block;

    line-height: normal;

    margin: 1px 15px;

    padding: 0 0 3px;

	width:88%;

}



ul.menu li a {

    background: none repeat scroll 0 0 transparent;

    color: #FFF;

    display: block;

    margin: 0;

    outline: medium none;

    padding: 6px 3px;

    text-decoration: none;

	font-size:13px;

	border-bottom:1px solid #a7a7a7;

	text-transform:capitalize;

}



ul.menu li a:hover,

ul.menu li a:active,

ul.menu li a:focus {

	color: #F60;

	text-decoration: underline;

	background: url("../images/mainua.png") no-repeat scroll left top transparent;

}



ul.menu li.active a {

	font-weight: bold;

}



ul.menu li ul {

	list-style: none;

	margin: 0;

	padding: 0;

}



ul.menu li li {

	border: none;

	background: none;

	padding: 0;

}



ul.menu li li a {

	border: none;

	padding: 2px 5px 8px 15px !important;

	text-transform: none;

	font-weight: normal !important;

	background: url(../images/arrow.png) no-repeat 8px 6px !important;

	color: #333333;

}



ul.menu li li a:hover,

ul.menu li li a:active,

ul.menu li li a:focus {

	color: #333333;

	text-decoration: underline;

}



ul.menu li li.active a {

	color: #333333;

	font-weight: bold;

}



ul.menu li li li a {

	color: #333333 !important;

	font-weight: normal !important;

	padding-left: 25px !important;

	background: url(../images/arrow.png) no-repeat 18px 6px !important;

}



ul.menu li li li.active a {

	font-weight: bold !important;

}



/* SPOTLIGHT

--------------------------------------------------------- */

/* Spotlight Box Style */

.ja-box-full, .ja-box-left, .ja-box-center, .ja-box-right {

    -moz-border-radius: 0 0 0 0;

    background: none repeat scroll 0 0 transparent;

    border: 0 solid #504835;

    color: #333333;

    float: left;

    font-size: 100%;

    margin: 5px -10px 0 5px;

    overflow: hidden;

}



.ja-box-left div.module, .ja-box-center div.module {

}



/* Top spotlight */

#ja-topsl {

    background: url("../images/topsl2.jpg") repeat-x scroll center bottom #fff;

    clear: both;

    color: #333333;

    height: auto;

    margin: 0 0 0 0;

    overflow: hidden;

    padding: 2px 3px 0px 3px;

}



#ja-topsl1 {

    background: none repeat scroll 0 0 #FFFFFF;

    float: left;

    margin: 0;

    overflow: hidden;

    padding: 0px;

    width: 100%;

}



#ja-topsl1 div#ja-slideshowwrap {

	margin: 20px 10px;

}



#ja-topsl2 {

	float: right;

	width: 0%;

	overflow: hidden;

	background:transparent url(../images/conten.gif) no-repeat scroll left top;

}



#ja-topsl2 div.moduletable h3, #ja-topsl2 div.moduletable h3 span {

	background: transparent url(../images/h3-bg-d.gif)  no-repeat scroll  top center;

}



#ja-topsl2 div.moduletable {

	margin: 10px 0 0;

	border:1px solid #D5D5D5;

}



/* Content spotlight */

#ja-contentsl1 {

    -moz-border-radius: 0px;

    background: none;

    clear: both;

    padding: 0 0 5px;

    width: 99.9%;

	margin: 5px 0px 5px 0px;

}



#ja-contentsl2 {

	clear: both;

	margin: 0px 0px;

	padding: 0px 0 5px 0;

	width:98.9%;

}



#ja-contentsl1 div.module, #ja-contentsl2 div.module {

	margin: 0;

}



#ja-contentsl1 div.module h3, #ja-contentsl1 div.module h3 span,

#ja-contentsl2 div.module h3, #ja-contentsl2 div.module h3 span {

	background: none;

	color: #333333;

	height: auto;

	line-height: normal;

	padding-left: 4px;

}



#ja-contentsl1 ul.latestnews, #ja-contentsl1 ul.mostread {

	margin: 0;

}



#ja-contentsl1 li.latestnews a, #ja-contentsl1 li.mostread a {

	background: url(../images/icon-pages.gif) no-repeat left center;

	padding-left: 15px;

}



#ja-contentsl1 li.latestnews, #ja-contentsl1 li.mostread {

	background: url(../images/sep.gif) repeat-x bottom;

	padding: 5px 10px 5px;

}



#ja-contentsl1 li.latestnews a, #ja-contentsl1 li.mostread a {

	background: url(../images/icon-pages.gif) no-repeat left center;

	padding-left: 15px;

}



/* Bottom spotlight */

#ja-botsl {

	clear: both;

	margin: 0px 0 0 0;

	padding: 0px 35px 5px 25px;

	background: url("../images/wrapper-bg.jpg") repeat-y scroll center center transparent;

	color: #333333;

}



#ja-botsl div.moduletable h3, #ja-botsl div.moduletable h3 span {

	background: #75712A;

	color: #FFFFFF;

	height: 30px;

	line-height: 30px;

	padding: 0px 15px;

	border-bottom:0px solid #040404;

	-moz-border-radius:5px 5px 5px 5px;

}



/* FOOTER

--------------------------------------------------------- */

#ja-footer {

	clear: both;

	position: relative;

	padding: 0px 20px;

	margin: 0 0px;

	color: #FFFFFF;

	text-align: center;

	border-top: 0px solid #1D1D1D;

	background: none;

}



#ja-footer small {

	font-size: 100%;

}



#ja-botnav {

	background:#14769a;

    clear: both;

    color: #FFFFFF;

	height:auto;

    margin-top: 5px;

}

.banneritem ul li a sapn{color:#FFF;}

#ja-botnav ul {

	margin: 0;

	padding: 0;

}





#ja-botnav li {

    background: url(../images/vline.gif) no-repeat left center;

    border-bottom: 1px dotted #F5F5F5;

    display: inline;

    line-height: 30px;

    margin: 0 7px 3px 0;

    padding: 0 8px 0 12px;

    text-align: left;

}



#ja-botnav li a {

	color:#F5F5F5;

	

		

	

}



#ja-botnav li a:hover, #ja-botnav li a:active, #ja-botnav li a:focus {

	color: #F00;

	text-align:left;

}



/* MISCELLANOUS

----------------------------------------------------------- */

ul.accessibility {

	position: absolute;

	top: -100%;

}



li.ja-firstitem {

	background: none !important;

}



.padding-none ul.film li {

	margin-left: 0;

}



#ja-tabs {

	margin: 0 0 10px 0;

	padding: 0;

}



#ja-tabs div {

	margin: 0;

	padding: 0;

}



#ja-tabs div.module {

	background: url(../images/box-br-w.gif) no-repeat bottom right #FFFFFF;

}



#ja-tabs div.module div {

	background: url(../images/box-bl-w.gif) no-repeat bottom left;

}



#ja-tabs div.module div div {

	padding: 0;

	background: url(../images/box-tr-w.gif) no-repeat top right;

}



#ja-tabs div.module div div div {

	background: url(../images/box-tl-w.gif) no-repeat top left;

}



#ja-tabs div.module div div div div {

	background: none;

}



/* Login */

#ja-login {

	position: absolute;

	right: 19px;

	top: 62px;

	color: #666666;

}



label.ja-login-user span,

label.ja-login-password span {

	display: block;

	width: 25px;

	height: 24px;

	float: left;

	text-indent: -5000px;

}



label.ja-login-user span {

	background: url(../images/icon-user.png) no-repeat;

}



label.ja-login-password span {

	background: url(../images/icon-key.png) no-repeat;

}



#ja-login label {

	float: left;

}



#ja-login form #mod_login_username,

#ja-login form #mod_login_password {

	width: 100px;

	margin: 2px 0 0 5px;

	font-size: 11px !important;

	border: 1px solid #CCCCCC;

}



#ja-login form #mod_login_password {

	margin-right: 5px;

}



#ja-login form .button {

	margin-top: 2px;

}



.ja-login-links {

	display: block;

	clear: both;

	padding: 6px 0 0;

	font-size: 92%;

}



.ja-login-links a {

	padding: 0 5px;

	color: #666666;

}



/*usertools*/

#ja-usertools {

	position: absolute;

	right: 10px;

	top: 8px;

}



#ja-usertools ul {

	margin: 0;

	padding: 0 10px 0 0;

	display: inline;

}



#ja-usertools ul li {

	margin: 0;

	padding: 0 2px;

	float: right;

	background: none;

}



/* Search */

#ja-search {

	background: url(../images/search-bg.gif) no-repeat left;

	position: absolute;

	right: 0px;

	top: 0px;

	height: 25px;

	padding-left: 25px;

	font-size: 11px;

}



#ja-search .inputbox {

	margin: 3px 3px 0 0;

	width: 180px;

	background: transparent;

	border: none;

	color: #333333;

	border:1px solid #C7BDA6;

}



#ja-search .button {

	font-size: 11px;

}



/*others*/

#ja-banner {

	padding: 5px 0 0;

	text-align: center;

	overflow: hidden;

	width: 100%;

	clear: both;

}



div.back_button a,

div.back_button a:hover,

div.back_button a:active {

	background: none!important;

	display: block;

	margin: 10px 0;

	text-decoration: none!important;

}



.clr {

	clear: both;

}



.hasTip img {

	border: none;

}



div.ja-innerdiv {

	padding: 8px 0 10px !important;

	background: url(../images/sep.gif) repeat-x bottom !important;

}



div.ja-innerdiv img.border {

	padding: 2px;

	border: 1px solid #CCCCCC;

	margin-right: 10px;

}



div.ja-innerdiv img {

	margin: 5px 0 0 5px;

}



div.module blockquote {

	margin: 0;

	padding: 0;

}



div.module span.title {

	font-weight: bold;

	display: block;

	margin: 5px 0;

}



/* Tooltips */

.tool-tip {

	background: #FFFFFF;

	border: 1px solid #CCCCCC;

	float: left;

	max-width: 200px;

	padding: 5px;

	z-index: 999;

	color: #333333;

}



.tool-title {

	background: url(../../system/images/selector-arrow.png) no-repeat;

	font-size: 100%;

	font-weight: bold;

	margin: 0;

	margin-top: -15px;

	padding: 0;

	padding-bottom: 5px;

	padding-top: 15px;

}



.tool-text {

	font-size: 100%;

	margin: 0;

}



#system-message dd.message ul,

#system-message dd.error ul,

#system-message dd.notice ul {

	margin: 0 10px;

	padding: 0;

}



#system-message dd.message ul li,

#system-message dd.error ul li,

#system-message dd.notice ul li {

	background: none;

	color: #FFFFFF;

	margin: 0;

	padding: 5px;

}



/* System Standard Messages */

#system-message dd.message ul {

	background: #333333;

	border: none;

}



/* System Error Messages */

#system-message dd.error ul {

	background: #CC0000;

	border: none;

}



/* System Notice Messages */

#system-message dd.notice ul {

	background: #333333;

	border: none;

}



/* Clearfix */

.clearfix:after {

	clear: both;

	content: ".";

	display: block;

	height: 0;

	visibility: hidden;

	

}



* html > body .clearfix {

	display: block;

	width: 100%;

}



* html .clearfix {

	height: 1%;

}

.clearfix table{font-size:13px; border-collapse:collapse; }

label{font-size:14px; text-transform:uppercase;}

.row-fluid .span12 {

    width: 100%;

	font-size:13px;

}

.span12 {

	width:180px;border:0; border-radius:3px 3px 3px 3px;height:30px; text-align:center; margin:5px 5px;

}

.hotrodt{width:75%; height:auto; float:left;}

.hotrodt ul{margin:0; padding:0;}

.hotrodt ul li{float:left; width:210px;}

.hotrodt ul li span{margin-left:5px; line-height:20px;}

.wapttcl{width:100%; height:auto; float:left; text-align:center;}

.wapttcl .header{width:90%; padding:10px; float:left; font-size:16px; color:#143A83; background:url(../images/hr_line.png) repeat-x bottom; margin-left:1%; text-transform:uppercase; font-weight:bold;}

.wapttcl img{border:1px solid #999; padding:2px; border-radius:5px 5px 5px 5px; width:275px; height:255px;}

.thanhtoannhanh{width:90%; padding:10px; float:left; border-bottom:1px dashed #CCC;  font-size:14px; margin-left:2%; line-height:16px;}



.thongtinlienhe{width:98%; margin-left:1%; font-size:13px; float:left; color:#F5F5F5;}

.thongtinlienhe ul{float:left; width:100%; margin-bottom:20px;}

.thongtinlienhe ul li{list-style:inside; float:left; width:22%; text-align:center;}

.gach3px{width:390px; height:3px; float:left; margin:0; padding:0;}

#chinhvetrangchu{background:none; text-transform: inherit; font-weight:normal; padding:0; margin:0; height:auto;}

#chinhli{width:50%; float:left; list-style:none; padding:0; font-size:14px; }

#chinhlitrong{width:50%; float:left; list-style:none; padding:0; margin:5px 0; font-size:13px; text-align:left; line-height:40px; }

#chinhlitrong a{color:#008;}

#chinhlitrong a:hover{text-decoration:underline; font-weight:bold;}

#chinhlitrong img{border:1px solid #999; padding:2px; border-radius:5px 5px 5px 5px; width:275px; height:255px;}

#cotleftchitiet {

    background: none repeat scroll 0 0 #FAFAFA;

    border-bottom: 2px solid #adadad;

    float: left;

    height: 100%;

    margin-bottom: 10px;

    padding: 4px 4px 20px;

    width: 99%;

	

}

#tieudetintuc {

    color: #000000;

    float: left;

    font-size: 13px;

    height: auto;

    line-height: 20px;

    width: 100%;

}

#noidungshort {

    float: left;

    font-size: 13px;

    height: auto;

    line-height: 22px;

    width: 100%;

}

#chitiet {

    float: left;

    height: auto;

    text-align: right;

    width: 100%;

}

#noidungshort img{

    border: 1px solid #B4B4B4;

    height: 122px;

    margin-right: 5px;

    width: 156px;

}

.noidungtin{font-size:14px;}

.noidungtin a{color:rgb(0, 0, 128);}



.noidungtin table{ border-collapse:collapse; border-color:olive; background:#e5e1c5; width:100% !important; }

.noidungtin table tr td{padding:5px; border-color:#676767; vertical-align:top;}

.gach10px{width:100%; height:10px; float:left;}

.gach20px{width:100%; height:20px; float:left;}

.gach5px{width:100%; height:5px; float:left;}

.gach4px{width:100%; height:4px; float:left;}

.gach12px{width:100%; height:12px; float:left;}



.box_skitter {position:relative;width:540px;height:364px;border-radius:3px 3px 3px 3px;}

.box_skitter ul {display:none; }

.box_skitter .container_skitter {overflow:hidden;position:relative;}

.box_skitter .image {overflow:hidden;}

.box_skitter .image img {display:none;}

.box_skitter .box_clone {position:absolute;top:0;left:0;width:100px;overflow:hidden;display:none;z-index:1;}

.box_clone img {position:absolute;top:0;left:0; z-index:1;}

.prev_button {position:absolute;top:50%;left:10px;z-index:100;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;background:url(../images/prev.png) no-repeat left top;}

.box_skitter .next_button {position:absolute;top:50%;right:10px;z-index:100;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;background:url(../images/next.png) no-repeat left top;}

.box_skitter .info_slide {position:absolute;top:15px;left:15px;background:#000;color:#fff;font:bold 11px arial;padding:5px 0 5px 5px;z-index:2;}

.box_skitter .info_slide .image_number {background:#333;float:left;padding:2px 10px;margin:0 5px 0 0;cursor:pointer;border:0;}

.box_skitter .info_slide .image_number_select {background:#cc0000;float:left;padding:2px 10px;margin:0 5px 0 0;border:0;}

.box_skitter .container_thumbs {position:relative;overflow:hidden;height:50px;}

.box_skitter .info_slide_thumb {overflow:hidden;height:45px;top:auto;bottom:-5px;left:-5px;padding:5px;}

.box_skitter .info_slide_thumb .image_number {overflow:hidden;width:70px;height:40px;position:relative;border:0;}

.box_skitter .info_slide_thumb .image_number img {position:relative;top:-50px;left:-50px;border:0;}

.box_skitter .box_scroll_thumbs {padding:0 10px;}

.box_skitter .box_scroll_thumbs .scroll_thumbs {position:absolute;bottom:60px;left:50px;background:#ccc;width:200px;height:10px;overflow:hidden;text-indent:-9999em;z-index:101;cursor:pointer;border:1px solid #333;}

.box_skitter .info_slide_dots {position:absolute;bottom:-40px;z-index:100;padding:5px 0 5px 5px;}

.box_skitter .info_slide_dots .image_number {background:#333;float:left;margin:0 5px 0 0;cursor:pointer;width:18px;height:18px;text-indent:-9999em;overflow:hidden;position:relative;border:0;}

.box_skitter .info_slide_dots .image_number_select {background:#cc0000;float:left;margin:0 5px 0 0;border:0;}

.box_skitter .label_skitter {z-index:50;position:absolute;bottom:0px;left:0px;display:none;}

.loading {position:absolute; top:50%; right:50%; z-index:10000; margin:-16px -16px;color:#fff;text-indent:-9999em;overflow:hidden;background:url(../images/ajax-loader.gif) no-repeat left top;width:32px;height:32px;}

.box_skitter_small {width:200px;height:200px;}

.label_skitter {z-index:50;position:absolute;bottom:0px;left:0px;background:url(../images/back-box-label-black.png) repeat-x left top;color:#fff;display:none;border-top:1px solid #000;}

.label_skitter p {}

.info_slide * {font-family:Consolas,arial,tahoma !important;}







.service {

    background: none repeat scroll 0 0 transparent !important;

    float: left !important;

    padding-left: 10px !important;

    padding-right: 12px !important;

    padding-top: 5px !important;

    width: 605px !important;

}



.Pttt {

    float: left;

    margin-left: 5px;

    width: 605px;

}



.service h3 {

    margin-left: 15px;

}

.Pttt h3 {

}

.service h3 {

    margin-left: 0 !important;

}

.big-font-normal {

    color: #0B1E6F;

    font-size: 18px;

    font-weight: normal;

    line-height: 24px;

}



.big-font-header {

    font-size: 23px;

    font-weight: bold;

    letter-spacing: -2px;

    line-height: 24px;

	    color: #143A83;

}



.blank10 {

    height: 10px;

}



.line7 {

    border-bottom: 1px dotted #CDCDCD;

    height: 1px;

}

.Pttt ul.wPttt {

    margin: 5px 0 10px;

}

.service ul {

    background: url("/images/AbayV2/bg-service.jpg") no-repeat scroll left bottom transparent;

    height: 447px;

    padding: 8px 0 0 15px;

}

.service ul {

    background: none repeat scroll 0 0 transparent !important;

    height: 215px !important;

    list-style: none outside none;

    padding: 2px 0 0 !important;

}

.Pttt ul.wPttt li {

    border-bottom: 1px solid #F3F5F5;

    padding: 0 0 5px !important;

}

.service ul li {

    background: url("/images/AbayV2/list-icon2.png") no-repeat scroll left center transparent;

    color: #070757;

    font-size: 14px;

    margin: 18px 0 5px;

    padding-left: 12px;

}

.service ul li {

    background: none repeat scroll 0 0 transparent !important;

    margin: 11px 0 0 !important;

    padding: 0 !important;

}



.Pttt ul.wPttt li div.imgPttt {

    float: left;

    margin-right: 5px;

    width: 58px;

}



.Pttt ul.wPttt li p {

    display: block;

    float: left;

    font-size: 12px;

    width: 522px;

}



.Pttt ul.wPttt li p span {

    color: #000;

    line-height: 17px;

}



.service ul li img.thumb {

    float: left;

    margin-right: 5px;

    max-height: 67px;

    max-width: 56px;

	border:none;

}



.Pttt ul.wPttt li p b {

    color: #000000;

    font-weight: bold;

    text-transform: uppercase;

}

fieldset.dinhdang{border: 1px solid #D7D7D7;border-radius: 5px 5px 5px 5px; background:#F9F9F9;}

fieldset legend.koo{text-transform:capitalize;}

fieldset legend ul li h2{font-size:18px; color:#000; margin:0; padding:0; line-height:0;}

fieldset legend ul li{margin:0; padding:0;}

a.cacchuyenphu{color:#B4B4B4 !important;}



.search-block {

    float: left;

    width: 370px;

	color:#FFF;

}

.search-block .title {

    background: url("../images/sprite_img.png") no-repeat scroll 0 -262px transparent;

    height: 58px;

    margin: 5px;

    padding-left: 58px;

}

.search-block .title h2 {

    border-bottom: 1px dashed #fff;

    font-family: Arial,Helvetica,sans-serif;

    font-size: 19px;

    font-weight: normal;

    margin: 0;

    padding: 5px;

}

.search-block .sferr {

    color: #FF0000;

    font-size: 10px;

    margin: -18px 0 0;

    text-align: center;

}

.search-block .type_flight, .search-block .location, .search-block .date, .search-block .type-passenger, .search-block .moreinfo {

    margin: 0px 5px 16px 20px;

}

.search-block label {

    font-weight: bold;

	font-size:13px !important;

}

.search-block .location {

    position: relative;

}



.search-block .location label {

    display: inline-block;

    width: 70px;

}



.search-block .location input[type="text"] {

    font-size: 12px;

    padding: 3px;

    width: 200px;

	margin:0;

	border:1px solid #CCCCCC;

}



.search-block .date .date-child {

    float: left;

    position: relative;

    text-align: left;

    width: 150px;

}



.search-block .date .date-child input[type="text"] {

    cursor: text;

    font-size: 12px;

    margin: 0;

    padding: 4px;

    width: 97px;

}



.search-block .date .date-child .ui-datepicker-trigger {

    position: absolute;

    right: 16px;

    top: 3px;

}



.clearfix {

    float: none;

}



.search-block .type-passenger ul {

    list-style: none outside none;

    margin: 0;

    padding: 0;

}

.search-block .type-passenger ul li:first-child {

	float:left !important;

}



.search-block .type-passenger ul li select {

    padding: 2px;

}

.search-block input[type="text"], .search-block select {

    border: 1px solid #CCCCCC;

    margin: 0;

    padding: 0;

}

.search-block .moreinfo {

    float: left;

    font-size: 16px;

    font-weight: bold;

    margin-top: 0px;

	padding:0;

}

.search-block .moreinfo span {

    color: #E60002;

    display: block;

    font-size: 20px;

}



.search-block .submit {

    float: right;

    margin-right: 5px;

    margin-top: 10px;

    text-align: right;

}



.search-block input[type="submit"], .sm_search_flight {

    background: url("../images/sprite_img.png") no-repeat scroll 5px -373px #FF6400;

    border: medium none;

    color: #FFFFFF;

    cursor: pointer;

    display: block;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

    font-size: 20px;

    height: 35px;

    line-height: 35px;

    margin: 0;

    padding: 0 5px 5px 35px;

}



.search-block .submit a {

    background: url("../images/sprite_img.png") no-repeat scroll 0 -578px transparent;

    color: #333333;

    display: inline-block;

    font-size: 12px;

    font-weight: bold;

    margin-top: 7px;

    padding-left: 20px;

}

.padingkhong{padding:0;}



.widgetblock {

    margin-bottom: 20px;

	color:#000;

}

.widgetblock .widgetblock-title {

    background: url("../images/bg_line.png") repeat-x scroll left bottom transparent;

    font-size: 14px;

    font-weight: bold;

    line-height: 22px;

    margin-bottom: 10px;

    padding-bottom: 3px;

    text-transform: uppercase;

	color:#FFF;

}



.widgetblock .otherflight {

    background: none repeat scroll 0 0 #F5F5F5;

    border: 1px solid #E6E6E6;

    padding: 10px;

}

.widgetblock .otherflight p.sferr {

    color: #FF0000;

    font-size: 12px;

    padding: 0;

    text-align: center;

}

.widgetblock .otherflight p {

    padding: 10px 0 2px;

}

.widgetblock p {

    margin: 0;

}

.widgetblock .otherflight label {

    display: inline-block;

    font-size: 12px;

    font-weight: bold;

}



.widgetblock .otherflight select.fullsize {

    padding: 5px;

    width: 100%;

}

.widgetblock .otherflight select {

    border: 1px solid #ABADB3;

}

.widgetblock .otherflight table {

    margin-top: 10px;

    width: 100%;

}

.widgetblock .otherflight input[type="text"] {

    border: 1px solid #ABADB3;

    cursor: text;

    font-size: 12px;

    margin: 0;

    padding: 6px 3px;

    width: 106px;

}



.widgetblock .otherflight table tr td .ui-datepicker-trigger {

    bottom: 3px;

    position: absolute;

    right: 3px;

}

.keywords{color:#fff; font-size:11px; line-height:15px; font-weight:normal; float:left; margin-left:1%; text-align:left;  margin-top:-2%;}

.khungmainnoidungabc{width: 100%;height:auto;float:left;margin: 0;padding:0;}

.khungkhuyenmai{width:942px; float:left; height:auto;border:1px solid #CCC;}

.khungkhuyenmai .titled{height:35px; float:left; width:100%;}

.khungkhuyenmai .titled h2{color:#373737; text-transform:uppercase; font-size:18px; text-align:center; line-height:35px;}

.khungkhuyenmai .khungnoidungkhuyenmai{width:96%; height:auto; float:left; font-size:13px; color:#373737; padding:2%; text-align:justify;}

.khungkhuyenmai .khungnoidungkhuyenmai ul{margin:0px; padding:0px;}

.khungkhuyenmai .khungnoidungkhuyenmai ul li{margin:0px; padding:8px; width:95%; text-align:justify;}

.khungnoidiaform{width:48%; margin:8px; height:auto; float:left; border:1px solid #999;}

.khungnoidiaform ul{padding:0;}

.khungnoidiaform ul li{float:left; width:48%; padding:1%;}

.titleabc{width:100%; float:left; text-align:center; text-transform:uppercase; font-size:12px; background:#999999; color:#373737;}

.khungnoidiaform .titleabc h3{font-size:16px; line-height:25px;}

.khungnoidiaform ul li a{font-size:14px; line-height:35px; margin-left:25px;}

.ja-title{color:#FFF;}





.et-main-label {

    background: #FF0000;

    color: #fff;

    float: left;

    font-family: Verdana;

    padding: 5px 0 5px 1%;

    width: 99%;

	text-align:center;

	font-size:15px;

}

.dinhdang100{font-size:16px; color:#FFFFFF;font-style:italic;}

.tdmau{padding-left:44px; line-height:29px; }

.tiendep{color:#D50000; font-size:16px;}



/* phan chuyen con lien quan */

.changbayphobienLP_sua {

  

    background: #666666;

    border-radius: 0;

	height:100%;

	float:left;

	padding:10px;

	width:97%;

  

}



.changbayphobienLP_sua h4 {

    font-size: 17px;

    color: #fff;

    font-weight: bold;

    line-height: 40px;

    background: url(../images/planeIcon.png) no-repeat center left;

    padding-left: 20px;

}

.changbayphobienLP_sua ul {

    float: left;

    width: 100%;

    margin-top: 10px;

}

.changbayphobienLP_sua ul li a {

    background: url(../images/ListItem_yeallow.png) no-repeat center left;

    padding-left: 11px;

    color: #fff;

    font-size: 12px;

   

    text-decoration: none;



}

.changbayphobienLP_sua ul li{margin-left:0px; padding-left:0px;}

.toiuuli1{margin-left:40px !important; padding-left:0px !important; width:260px !important; float:left !important;}

.toiuuli2{margin-left:8px !important; padding-left:0px !important; width:180px !important; float:left !important;}

.alink{padding-left:15px !important; font-weight:normal !important;}

.alink1{font-size:22px !important; text-decoration:underline !important;}

.dinhdangtitle{width:100%; float:left; color:#fff; font-size:12px; height:30px; text-align:center; line-height:30px;}

.textfor{width:200px;border:0; border-radius:3px 3px 3px 3px;height:30px; text-align:center;}

.nutbam{height:45px; width:175px; cursor:pointer; font-size:15px; color:#000;border:0; background:#e4f527; text-transform:uppercase; border-radius:3px 3px 3px 3px; font-weight:bold; margin:7px 0px;}

.khuyenmaili{float:left; width:15%; margin-right:0%;}

.khuyenmailicot{float:left; width:80%; margin-right:0%; margin-left:50px;}

.khuyenmailicot a{ color:#fff; line-height:26px;}





.khuyenmailivemaybay{float:left !important; width:24% !important; margin-right:0% !important; padding:0px !important;}



.khuyenmainhom{float:left;width: 100%;font-size:13px;height:auto;text-align:left;padding: 10px 0;background:#666666;color:#FFFFFF;}

.khuyenmainhom h3 {

    border: 1px solid #fff;

    font-size: 15px;

    line-height: 30px;

    margin: auto;

    text-align: center;

    width: 362px;

    background:darkcyan;

    margin-bottom: 20px;

}

.khuyenmaili a{ color:#fff; line-height:23px;}

.khuyenmailivemaybay a{ color:#fff !important; line-height:23px !important; font-size:13px !important;}

/* menu foter/////////////// */



.home-group-container4 {

    background: #f2f2f2 none repeat scroll 0 0;

    border-top: 1px solid #dddddd;

    float: left;

    padding: 15px 0 0;

    width: 100%;

}

.wrap-top-auto {

    margin: 0 auto;

    width: 100%;

}

.wrap-top-content {

    float: left;

    width: 100%;

}

.catalog-bottom-style {

    color: #555;

    float: left;

    font-size: 13px;

    margin: 0 0 20px;

    width: 100%;

}

.catalog-bottom-style .catalog-bottom-title {

    float: left;

    width: 100%;

}



.catalog-bottom-style .catalog-bottom-title .text {

    background: #006fa8 none repeat scroll 0 0;

    border-radius: 20px;

    color: #fff;

    float: left;

    font-family: Tahoma;

    font-size: 12px;

    line-height: 16px;

    text-transform: uppercase;

}



.catalog-bottom-style .catalog-bottom-title .text a {

    color: inherit;

    float: left;

    padding: 6px 60px 7px 58px;

    text-decoration: none;

}

.catalog-bottom-style .catalog-bottom-content {

    border-bottom: 1px solid #ccc;

    float: left;

    padding: 10px 0 12px;

    width: 100%;

}

.catalog-bottom-style .catalog-bottom-content .column {

    float: left;

    margin: 0 0px 0 0px;

    width: 100%;

	color:#fff;

}

.catalog-bottom-style .catalog-bottom-content .item {

    padding: 3px 0;

	width:186px; float:left;

}

.catalog-bottom-style .catalog-bottom-content .item a {

    background: rgba(0, 0, 0, 0) url("../images/check-icon.gif") no-repeat scroll 0 4px;

    color: #fff;

    display: block;

    font-family: Tahoma;

    padding: 0 0 0 14px;

    text-decoration: none;

}

.catalog-bottom-style .catalog-bottom-content .item a:hover{text-decoration:underline; color:#ff3;}

.home-group-container4 {

    background: #666666 none repeat scroll 0 0;

    border-top: 1px solid #dddddd;

    float: left;

    padding: 15px 0 0;

    width: 100%;

}

/* form commnet ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */

.khungform{float:left;background:#e5e1c5;width: 100%;}

.khungform form {

  box-sizing: border-box;

  width: 100%;



  border-radius: 3px;

  float:left;

}

.khungform form h5 {

    box-sizing: border-box;

    color: #C40000;

    font-size: 24px;

    padding: 20px;

    text-align: center;

    text-transform: capitalize;

}

 

.khungform input {

  width: 200px;

  border: none;

  

  border-bottom: solid 1px #1abc9c;

  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

  background-position: -200px 0;

  background-size: 200px 100%;

  background-repeat: no-repeat;

  color: #0e6252;



}

.khungform textarea {

    -moz-border-bottom-colors: none;

    -moz-border-left-colors: none;

    -moz-border-right-colors: none;

    -moz-border-top-colors: none;

    border-color: currentcolor currentcolor #1abc9c;

    border-image: none;

    border-style: none none solid;

    border-width: medium medium 1px;

    color: #0e6252;

    display: block;

    margin: 0 15px;

    padding: 10px;

    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) 0s;

    width: 68%;

	float:left;

}

.khungform input:focus, .khungform input:valid {

    background-position: 0 0;

    border: 1px solid #000;

    box-shadow: none;

    outline: medium none;

	width:16%;

}

.khungform textarea:focus, .khungform textarea:valid {

    background-position: 0 0;

    border: 1px solid #000;

    box-shadow: none;

    outline: medium none;

	width:50%;

}

.khungform input:focus::-webkit-input-placeholder, .khungform input:valid::-webkit-input-placeholder {

  color: #1abc9c;

  font-size: 11px;

 

  visibility: visible !important;

}

 

.khungform input[type="submit"]{

  border: none;

  background: #FF0000;

  cursor: pointer;

  border-radius: 3px;

  padding: 12px;

  width: 150px;

  color: white;

  margin-left: 15px;

  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);

}

.khungform input[type="submit"]:hover {

  transform: translateY(-3px);

}

.khungform .span{float:left; margin-left:25px; line-height:65px; width:120px;}

#comments .children, #comments .comments_list{margin:0; padding:0px; list-style:outside none none;}

#main_comment_list{margin-bottom:-20px;}



.comment-wrap .commentnumber{color:#c1c1c1; float:right;}

#comments .single-comment .avatar {

    border: 1px solid #e5e5e5;

    float: left;

    margin-right: 20px;

    padding: 4px;

}

#comments .single-comment .comment-content{margin-left:90px; margin-bottom:10px;}

#comments .single-comment .comment-content .comment-author {

    font-size: 15px;

    font-weight: 700;

    margin-bottom: 3px;

}

#comments .single-comment .comment-content .commentmetadata {

    color: #c6c6c6;

    display: block;

    font-size: 12px;

    margin-bottom: 6px;

}

#comments .single-comment .comment-content .comment-edit-link, #comments .single-comment .comment-content .comment-reply-link {

    border: 1px solid #e5e5e5;

    color: #FF0000;

    display: inline-block;

    font-size: 15px;

    line-height: 24px;

    margin-right: 1px;

    padding: 0 12px;

    text-transform: uppercase;

}

#bbpress-forums fieldset.bbp-form legend, .base-box, .comment-form, .sidebar .widget, div.bbp-template-notice, div.indicator-hint {

    background: #fff none repeat scroll 0 0;

    border: 1px solid #adadad;

    margin-bottom: 21px;

    padding: 5px 10px;

    position: relative;

	width:89%;



}

/* form commnet ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */

/* phan khuyen mai trang chu ////////////////////////////// */

.bpv-newbox {

    border: 1px solid #40b6d0;

    float: left;

    margin: 2% 0;

    padding: 0;

    width: 100%;

}

.bpv-newbox h3 {

    background-color: #FF0000;

    color: #fff;

    font-size: 20px;

    font-weight: normal;

    margin: 0;

    padding: 6px;

    width: 98%;

	text-align:center;

}

.icon-top-des {

    background-position: -66px -35px;

    height: 22px;

    width: 17px;

}



.tb-flights {

    border: 0 none;

    border-spacing: 0;

    empty-cells: show;

    width: 100%;

	font-size:13px;

	background:#fbfbfb;

}

.tb-flights thead {

    background-color: #f4f4f4;

    color: #555;

}

.tb-flights thead th {

    border-color: #c0d3dc;

    border-style: solid;

    border-width: 1px 1px 1px 0;

    font-size: 13px;

    padding: 5px 7px;

}

.tb-flights .bold-border {

    border-bottom: 3px solid #a7bac3;

	text-align:center;

}

.tb-flights td {

    border-color: #c0d3dc;

    border-style: solid;

    border-width: 0 1px 1px 0;

    padding: 5px;

}

.bpv-price-from {

    color: #b20000;

    font-size: 20px;

    font-weight: bold;

	float:left;

}

.btn-select {

    border: 1px solid #0071cd;

    color: #000;

    font-size: 12px;

    font-weight: normal;

    margin-left: 10px;

    padding: 3px 10px 2px;

	float:right;

}

.floatL{float:left; margin-right:5px; line-height:30px;}

/*///////////////////*/

/* phan trÃªn khuyen mai -------------------------------- */

.bpv-why-us {

    border: 1px solid #40b6d0;

	width:100%;

}

.bpv-unbox {

    background-color: #fff;

    margin-bottom: 20px;

	float:left;

}

.bpv-why-us h2 {

    border-bottom: 1px dashed #c2c2c2;

    margin: 0 15px;

    padding: 7px 0;

	font-size:26px;

	font-weight:normal;

}

.bpv-color-title {

    color: #004f8c;

}

.col-xs-6 {

    width: 50%;

	float:left;

	

   

}

.bpv-why-us ul {

    color: #666;

    font-size: 14px;

    margin-top: 10px;

    padding-left: 0;

}

.why-us li {

    margin-bottom: 15px;

}

.icon-best {

    background-position: -87px -88px;

    height: 23px;

    width: 23px;

}

.icon {

    background-image: url("../images/new/sprites.05042017.png");

    background-repeat: no-repeat;

    display: inline-block;

    vertical-align: middle;

}

.icon-wide-selection {

    background-position: -87px -115px;

    height: 23px;

    width: 23px;

}

.icon-checker {

    background-position: -87px -141px;

    height: 23px;

    width: 23px;

}

.icon-groupon {

    background-position: -87px -167px;

    height: 23px;

    width: 23px;

}

.icon-lowest-fee {

    background-position: -87px -194px;

    height: 23px;

    width: 23px;

}

.icon-book-together {

    background-position: -87px -220px;

    height: 23px;

    width: 23px;

}

/* phan cach thanh toan ------------------------------------ */

.payment-method-home .title {

    border-bottom: 1px solid #ddd;

    font-size: 25px;

    font-weight: normal;

    padding-bottom: 10px;

    color: #004f8c;

}

.payment-method-home .payment-list {

    border-bottom: 1px dashed #ddd;

    margin-bottom: 10px;

    padding-bottom: 10px;

	padding-top:10px;

}

.payment-method-home .col-xs-2 {

    padding-left: 0;

    padding-right: 10px;

    width: 10%; float:left;

}

.payment-method-home .col-xs-10 {

    width: 88%; float:left;

}

.payment-method-home .content {

    padding: 0;

}

.payment-method-home .content span{font-size:13px;}

.payment-method-home .content p {

    font-size: 15px;

    margin-bottom: 0;

    text-transform: uppercase;

}

.bpv-color-title {

    color: #004f8c;

}

.p-bank-transfer-box-flight {

    background-position: -312px -777px;

    height: 55px;

    width: 55px;

}

.p-domestic-card-box-flight {

    background-position: -187px -777px;

    height: 28px;

    margin-top: 15px;

    width: 58px;

}

.p-credit-card-box-flight {

    background-position: -314px -836px;

    height: 55px;

    width: 55px;

}

.p-home-box-flight {

    background-position: -254px -777px;

    height: 55px;

    width: 55px;

}

.p-office-box-flight {

    background-position: -237px -655px;

    height: 55px;

    width: 55px;

}

/* ---------------------- */

.khuyenmaili a strong{color:#ff3 !important;}

.khuyenmailivemaybay a strong{color:#ff3 !important;}

.khuyenmailicot a strong{color:#ff3 !important;}

/* ------------- */

.timchu1{font-size:13px; width:115px; float:left; text-align:center; line-height:21px; margin:0px 7px;}

.changbayphobienLP_sua ul li a:hover{text-decoration:underline;}

/* --------------- tab */

div.tab {

     overflow: hidden;

    border: 1px solid #ccc;

    background-color: #f1f1f1;

	font-size:13px;

	text-align:center;

}

div.tab span.active {

	background-color: #b92b05;

}

div.tab span{

  background-color: #004370;

    border: none;

    outline: none;

    cursor: pointer;

    padding: 5px 11px;

    transition: 0.3s;

	margin:0px;

	color:#fff;

	line-height:30px;

}

div.tab span:hover{  background-color: #b92b05;}

.tabcontent{width:100%; float:left;padding:0px !important; margin:0px !important; background:#d1d1d1;}

/* --------------- tab */

/* cach di chuyen */

.box_top {

    background-color: #07a3dc;

    border-radius: 4px;

    color: #ffffff;

    font-size: 20px;

    line-height: 20px;

    padding: 20px 15px;

    position: relative;

	float:left;

}

.SearchParamContent .FlightIcon {

    float: left;

    font-size: 24px;

    line-height: 50px;

    margin-right: 15px;

}

.SearchParamContent .Itinerary {

    float: left;

    font-size: 18px;

    line-height: 25px;

    white-space: nowrap;

	color:#FFFF00;

	

}

.SearchParamContent .Itinerary a{color:#FFFF00; text-decoration:underline;}

.SearchParamContent .Itinerary a:hover{color:#000000;}

/* ---- */

.baoform{width:100%; float:left;}

.taughecung{width:100%; float:left; background:url(../images/ghetaucung.gif) no-repeat center; height:220px;}

.taughecungdh{width:100%; float:left; background:url(../images/ghetaucungdh.gif) no-repeat center; height:220px;}

.taughemem{width:100%; float:left; background:url(../images/ghetaumem.gif) no-repeat center; height:220px;}

.taughememdh{width:100%; float:left; background:url(../images/ghetaumemdh.gif) no-repeat center; height:220px;}

.namcung{width:100%; float:left; background:url(../images/giuongcung.gif) no-repeat center; height:220px;}

.nammem{width:100%; float:left; background:url(../images/giuongmem.gif) no-repeat center; height:220px;}



.gioxeoto{font-weight:bold; font-size:16px;color:#333333; text-decoration:underline;}

.giaxe{font-size:16px; font-weight:bold;color:#ff7d01;}

.datvexe{color:blue; font-size:13px; padding:4px; border:1px solid;}

.nenkeychung{background:#AAAAAA; line-height:20px; height:20px;}

.keychung{color:#333333; font-size:11px; line-height:20px;}